@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Swuper  */
.swiper .swiper-wrapper {
  height: 100%;
}

/* ✅ Pretendard를 모든 기본 폰트로 지정 */
html {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

/* 🧼 modern CSS reset 유지 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    position: absolute;
    width: 100vw;
    height: 100vh;
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
/* button, */
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/*
* TailwindCSS Custom variables
*/

@theme {
  --color-gray-1: #f3f4f6;
  --color-gray-2: #e5e5e5;
  --color-gray-4: #9e9fad;
  --color-gray-8: #28282e;
  --color-gray-9: #1a1b1e;
  --color-main: #ff5100;
  --color-light-main: #fff9f6;
  --color-point-red: #eb003b;
}
