body {
  margin: 0;
  background: #fff;
  font-family: "Pretendard", "Arial", sans-serif;
}

/* Header */

/* Tabs */
/* .tabs {
  display: flex;
  height: 59px;
  padding: 8px 16px;
}

.tabs button {
  background: none;
  border: none;
  font-size: 16px;
  color: #c1c1c1;
  cursor: pointer;
}

.tabs .active {
  color: #111;
  border-bottom: 3px solid #111;
  font-weight: bold;
} */

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

/* Register Button */
.register-btn {
  position: absolute;
  right: 16px;
  bottom: 80px;
  background: #222;
  color: #fff;
  border: none;
  padding: 16px 24px;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(33, 33, 33, 0.05);
  font-weight: 500;
  cursor: pointer;
  z-index: 10;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  padding: 8px 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav .icon {
  font-size: 28px;
  color: #222;
}
